{% extends "layout.html" %}

{% block title %}Edit Customer{% endblock %}

{% block content %}
<div class="row col-md-8 my-5">
    <div class="card col-md-8 mx-auto px-0">
        <div class="card-header">
            Edit Customer Details
        </div>
        <div class="card-body">
            <form action="{{ url_for('editcustomer', cust_ssn_id=data.cust_ssn_id) }}" method="POST">
                <table class="col-md-12">
                    <tbody>
                        <!-- Display SSN and Customer ID (read-only fields) -->
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Customer SSN Id</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-5">{{ data.cust_ssn_id }}</label>
                                </div>
                            </th>
                        </tr>

                        <!-- Display Old Name and allow to enter New Name -->
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Old Name</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-5">{{ data.name }}</label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3" for="name">New Name</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group pl-3">
                                    <!-- Pre-fill with old name, if empty, the user can leave it blank -->
                                    <input class="form-control" name="name" id="name" type="text" placeholder="{{ data.name }}" maxlength="50">
                                </div>
                            </th>
                        </tr>

                        <!-- Display Old Address and allow to enter New Address -->
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">StreetNumber</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-5">{{ data.StreetNumber }}</label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3" for="StreetNumber">New StreetNumber</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group pl-3">
                                    <!-- Pre-fill with old address, if empty, the user can leave it blank -->
                                    <input class="form-control" name="StreetNumber" id="StreetNumber" type="text" placeholder="{{ data.StreetNumber }}" maxlength="100">
                                </div>
                            </th>
                        </tr>

                        <!-- Display Old Age and allow to enter New Age -->
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3">Old State</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-5">{{ data.State }}</label>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="form-group input-group">
                                    <label class="pl-3" for="age">New State</label>
                                </div>
                            </th>
                            <th>
                                <div class="form-group input-group pl-3">
                                    <!-- Pre-fill with old age, if empty, the user can leave it blank -->
                                    <input class="form-control" name="State" id="State" type="text" placeholder="{{ data.State }}" maxlength="20">
                                </div>
                            </th>
                        </tr>

                            <!-- Display Old Age and allow to enter New Age -->
                            <tr>
                                <th>
                                    <div class="form-group input-group">
                                        <label class="pl-3">Old city</label>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group input-group">
                                        <label class="pl-5">{{ data.city }}</label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <div class="form-group input-group">
                                        <label class="pl-3" for="age">New city</label>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group input-group pl-3">
                                        <!-- Pre-fill with old age, if empty, the user can leave it blank -->
                                        <input class="form-control" name="city" id="city" type="text" placeholder="{{ data.city }}" maxlength="20">
                                    </div>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <div class="form-group input-group">
                                        <label class="pl-3">Old Zipcode</label>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group input-group">
                                        <label class="pl-5">{{ data.Zipcode }}</label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <div class="form-group input-group">
                                        <label class="pl-3" for="age">New Zipcode</label>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group input-group pl-3">
                                        <!-- Pre-fill with old age, if empty, the user can leave it blank -->
                                        <input class="form-control" name="Zipcode" id="Zipcode" type="text" placeholder="{{ data.Zipcode }}" maxlength="20">
                                    </div>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <div class="form-group input-group">
                                        <label class="pl-3">Old Aptnum</label>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group input-group">
                                        <label class="pl-5">{{ data.Aptnum }}</label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <div class="form-group input-group">
                                        <label class="pl-3" for="age">New Aptnum</label>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group input-group pl-3">
                                        <!-- Pre-fill with old age, if empty, the user can leave it blank -->
                                        <input class="form-control" name="Aptnum" id="Aptnum" type="text" placeholder="{{ data.Aptnum }}" maxlength="20">
                                    </div>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <div class="form-group input-group">
                                        <label class="pl-3">Old BranchID</label>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group input-group">
                                        <label class="pl-5">{{ data.BranchID }}</label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <div class="form-group input-group">
                                        <label class="pl-3" for="age">New BranchID</label>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group input-group pl-3">
                                        <!-- Pre-fill with old age, if empty, the user can leave it blank -->
                                        <input class="form-control" name="BranchID" id="BranchID" type="text" placeholder="{{ data.BranchID }}" maxlength="20">
                                    </div>
                                </th>
                            </tr>


                            <tr>
                                <th>
                                    <div class="form-group input-group">
                                        <label class="pl-3">Old PersonalBankerSSN</label>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group input-group">
                                        <label class="pl-5">{{ data.PersonalBankerSSN }}</label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <div class="form-group input-group">
                                        <label class="pl-3" for="age">New PersonalBankerSSN</label>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group input-group pl-3">
                                        <!-- Pre-fill with old age, if empty, the user can leave it blank -->
                                        <input class="form-control" name="PersonalBankerSSN" id="PersonalBankerSSN" type="text" placeholder="{{ data.PersonalBankerSSN }}" maxlength="20">
                                    </div>
                                </th>
                            </tr>

                        <!-- Submit button -->
                        <tr>
                            <th colspan="2">
                                <div class="form-group input-group mt-3">
                                    <input type="submit" value="Edit" onclick="return confirm('Are you sure you want to edit this customer data?')" class="btn mx-auto">
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}
