{% extends "layout.html" %}

{% block title %}View Account Details{% endblock %}

{% block content %}
<div class="row col-md-8 my-5">
    <div class="card col-md-8 mx-auto px-0">
        <div class="card-header">
            View Account Details
        </div>
        <div class="card-body">
            {% if data %}
                <div class="row mb-4">
                    {% for account in data %}
                        <table class="col-md-12 mb-4">
                            <tbody>
                                <tr>
                                    <td><strong>Account Number:</strong></td>
                                    <td>{{ account.AccountNumber }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Balance:</strong></td>
                                    <td>{{ account.Balance }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Last Accessed Date:</strong></td>
                                    <td>{{ account.LastaccessedDate }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Account Type:</strong></td>
                                    <td>{{ account.AccountType }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Customer SSN:</strong></td>
                                    <td>{{ account.CustomerSSN }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-end">
                            {% if session['usert'] == "banker" %}
                                <a href="{{ url_for('delaccount', acc_id=account.AccountNumber) }}">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                            {% elif session['usert'] in ["customer", "cashier"] %}
                                <div class="d-flex">
                                    <a href="{{ url_for('deposit', acc_id=account.AccountNumber) }}">
                                        <button class="btn btn-primary mx-1">Deposit</button>
                                    </a>
                                    {% if data|length > 1 %}
                                        <a href="{{ url_for('transfer', cust_id=account.CustomerSSN) }}">
                                            <button class="btn btn-info mx-1">Transfer</button>
                                        </a>
                                    {% endif %}
                                    <a href="{{ url_for('withdraw', acc_id=account.AccountNumber) }}">
                                        <button class="btn btn-warning mx-1">Withdraw</button>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        
                    {% endfor %}
                </div>
            {% else %}
                <form action="viewaccount" id="view_acc" method="POST">
                    <div class="form-group input-group mb-3">
                        <label class="m-auto pr-3" for="cust_id">Customer ID</label>
                        <input class="form-control" name="cust_id" id="cust_id" type="text" placeholder="Customer ID" minlength="3" maxlength="9">
                    </div>
                    <div class="form-group input-group mb-3">
                        <label class="m-auto pr-3">Or</label>
                    </div>
                    <div class="form-group input-group mb-3">
                        <label class="m-auto pr-3" for="acc_id">Account ID</label>
                        <input class="form-control" name="acc_id" id="acc_id" type="text" placeholder="Account ID" minlength="3" maxlength="9">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="View" class="btn btn-primary">
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
